swagger: "2.0"

info:
  version: 0.0.1
  title:  AA platform
  description: the first edtion API for AA platform
  
schemes: 
  - https
host: www.muxier.top
basePath: /api

tags:
- name: "auth"
  description: 验证权限
- name: "customer"
  description: 消费者界面
- name: "chat"
  description: 群聊界面

paths:

  /openid/:
    get:
      tags:
      - "auth"
      summary: 获取openid
      description: 访问获取openid
      parameters:
        - in: header
          name: code
          required: true
          type: string
      responses: 
        200:
          description: OK
          schema:
            required: 
              - openid
            properties: 
              openid:
                type: string
        401:
          description: 用户认证失败

  /customer/signup/:
    post:
      tags:
      - "auth"
      summary: 注册
      description: 注册
      parameters:
      - name: openid
        in: header
        description: openid
        type: string
        required: true
      - name: info
        in: body
        schema:
            required: 
              - username
              - headimage
            properties:
              username: 
                description: name
                type: string
              headimage:
                description: 头像
                type: string
      responses:
        200:
          description: OK 
        401:
          description: forbidden
        500: 
          description: server wrong

  /customer/signin/:
    post:
      tags:
      - "auth"
      summary: 登陆
      description: 登陆
      parameters:
        - in: header
          name: openid
          description: openid
          type: string
      responses:
        200:
          description: OK
          schema:
            required:
              - token
            properties:
              token:
                description: 密钥
                type: string
        401: 
          description: forbidden
        500: 
          description: server wrong

  /customer/main/:
    get:
      tags:
      - "customer"
      summary: 账单主界面
      description: 账单的流水明细
      parameters: 
        - in: header
          name: token
          description: 身份验证
          required: true
          type: string
        - in: path
          name: id
          description: 用户ID
          required: true
          type: string
      responses:
        200: 
          description: OK
          schema:
            type: array
            items: 
              required:
                - id
                - myclass
                - price
                - time
                - ps
              properties:
                id: 
                  type: string
                myclass:
                  type: string
                price:
                  type: integer
                time:
                  type: string
                ps: 
                  type: string
        401:
          description: 登陆出错
        500:
          description: 服务器端错误

  /customer/recoder/{id}/:
    post:
      tags:
      - "customer"
      summary: 新增个人消费
      description: 个人记账
      parameters:
        - in: path
          name: id
          required: true
          description: 用户ID
          type: integer
        - in: header
          name: token
          description: 身份验证
          type: string
        - name: 增加消费记录
          in: body
          schema:
            required: 
              - myclass
              - price
              - time
              - ps
            properties:
              myclass:
                description: 消费类别
                type: string
              price:
                description: 消费金额
                type: integer
              time:
                description: 消费时间
                type: string
              ps:
                description: 消费描述
                type: string
      responses:
        200:
          description: OK
        401:
          description: forbidden
        500:
          description: wrong on server
        

  /chat/main/{id}/:
    get:
      tags:
      - "chat"
      summary: 用户群聊总列表
      description: 显示用户参加的全部群聊
      parameters:
        - in: header
          name: token
          description: 身份验证
          required: true
          type: string
        - in: path
          name: id
          description: 用户ID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              required:
                - id
                - chatname
                - customer_id
                - consumption
                - ps
              properties:
                id:
                  description: 群聊ID
                  type: integer
                username:
                  description: 群聊昵称
                  type: string
                customer_id:
                  description: 参与者ID，用分号分割
                  type: array
                consumption:
                  description: 消费总金额
                  type: integer
                ps:
                  description:  群聊描述
                  type: string
        401:
          description: 登陆出错
        500:
          description: 服务器端错误

  /chat/detail/{id}/:
    get:
      tags:
      - "customer"
      summary: 群记账明细
      description: 展示一个群组的各类别花费，在此可以查看各个类别的具体花费
      parameters:
        - in: path
          name: id
          required: true
          description: 群聊ID
          type: integer
        - in: header
          name: token
          description: 用户验证
          type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              required:
                - id
                - myclass
                - price
                - time
                - ps
              properties:
                id: 
                  type: string
                myclass:
                  type: string
                price:
                  type: integer
                time:
                  type: string
                ps: 
                  type: string
        401:
          description: 登陆出错
        500:
          description: 服务器端错误

definitions:
  Recoder:
    description: 消费记录表单
    type: object
    required: 
      - id
      - myclass
      - price
      - time
      - customer_id
      - ps
    properties:
      id:
        description: 消费记录ID
        type: integer
      myclass:
        description: 消费类别
        type: string
      price:
        description: 花费金额
        type: integer
      time:
        description: 消费时间
        type: string
      customer_id: 
        description: 消费者ID
        type: integer
      customer_name:
        description: 消费者昵称
        type: string
      customer_header_image:
        description: 消费者头像
        type: string
      chat_id:
        description: 群聊ID 
        type: integer
      ps:
        description: 消费记录描述
        type: string
  Customer:
    description: 消费者记录
    type: object
    required:
      - id
      - username
      - headimage
      - chat_id
      - consumption
    properties:
      id:
        description: 消费者ID
        type: string
      username:
        description: 消费者姓名
        type: string
      headimage:
        description: 用户头像
        type: string 
      chat_id:
        description: 消费者参与的群聊ID,用分号分割
        type: string
      consumption:
        description: 消费总金额
        type: integer
      
  Chat:
    description: 群消费记录
    type: object
    required:
      - id
      - chatname
      - customer_id
      - consumption
      - ps
      - myclass1
      - myclass2
      - myclass3
      - myclass4
      - myclass5
      - myclass6
    properties:
      id:
        description: 群聊ID
        type: integer
      username:
        description: 群聊昵称
        type: string
      customer_id:
        description: 参与者ID，用分号分割
        type: string
      consumption:
        description: 消费总金额
        type: integer
      ps:
        description:  群聊描述
        type: string
      myclass1:
        description: 消费类别1的花费
        type: integer
      myclass2:
        description: 消费类别2的花费
        type: integer
      myclass3:
        description: 消费类别3的花费
        type: integer
      myclass4:
        description: 消费类别4的花费
        type: integer
      myclass5:
        description: 消费类别5的花费
        type: integer
      myclass6:
        description: 消费类别6的花费
        type: integer
      myclass7:
        description: 消费类别7的花费
        type: integer
      myclass8:
        description: 消费类别8的花费
        type: integer
      myclass9:
        description: 消费类别9的花费
        type: integer
      myclass10:
        description: 消费类别10的花费
        type: integer